---
layout: layout.njk
title: Outlaws of Thunder Junction
---

<h2>Welcome to Thunder Junction!</h2>

<p><strong>Outlaws of Thunder Junction</strong> is the latest set of cards for the trading card game <a href="https://magic.gg">Magic the Gathering</a>. It is the 100th expansion set of the game and was released on April 19, 2024.</p>

<p>You can see the full list of outlaws in the paginated <a href="/cards">cards</a> section, and click through to each card to see more details and leave a comment on the card!</p>

<img src="/assets/images/robot-cowboy.webp" alt="A robot cowboy next to their broken down robot horse in the desert. Created by DALL-E">
