body {
  background: #f4f1ee;
  color: #3d2b1f;
  font-family: 'Georgia', serif;
  line-height: 1.6;
  margin: 0;
}

a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2, h3 {
  font-family: 'french-clarendon-ornamented', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  letter-spacing: 0.01em;
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

header {
  background: url('/assets/images/wood-short.jpg') repeat;
  color: #f4f1ee;
  padding: 10px 40px;
  text-align: center;
}

header h1 {
  font-family: 'Bourbon', 'Georgia', serif;
  font-size: 5em;
  text-shadow: 4px 4px 0px #3d2b1f;
  transform: rotate(-5deg) skew(-5deg);
  margin: 30px;
}

header nav {
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-family: 'hwt-american-outline', sans-serif;
  font-size: 1.2em;
  color: #f4f1ee;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #3d2b1f;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.card {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  transition: filter 0.3s ease;
}

.card img:hover {
  filter: brightness(80%);
}

.card h3 {
  margin: 10px 0;
}

.card p {
  text-align: center;
  color: #666;
  padding: 0 10px;
}

.card-detail img {
  float: left;
  width: 488px;
  height: auto;
  border-radius: 15px;
  margin: 10px 40px 40px 0;
  box-shadow: 5px 5px 15px gray;
}

.card-info, .comments {
  overflow: hidden;
}

.comments {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0 20px 20px 20px;
}

.comments h3 {
  margin-top: 0;
}

.comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.comment:last-child {
  border-bottom: none;
}

.comment-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.comment-form label, .comment-form input, .comment-form button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.comment-form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
}

.comment-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.comment-form button {
  display: block;
  font-family: 'hwt-american-shopworn', sans-serif;
  width: 100%;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.comment-form button:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  font-family: 'hwt-american-shopworn', sans-serif;
  font-size: 1.2rem;
  margin: 10px 0;
}

footer {
  clear: both;
  background-color: #282828;
  color: #cccccc;
  font-family: 'Georgia', serif;
  padding: 20px 200px;
  font-size: 14px;
}
